@use 'reset';
@use 'vars';

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700&display=swap');

body {

background-color: #141c2f;
color: #fff;
font-family: 'Inconsolata', monospace;

}
