@import '../../styles/index.scss';

.app {

  display: block;
  max-width: 600px;
  margin: auto;
  color: #fff;

  @media (max-width: $desktop_width) { 

      display: block;
      max-width: 90%;
      margin: auto;

  }
}

h2 {

  font-size: 1.4em;
  font-weight: 600;
}

p {

  font-size: 0.9em;
  color: #8d95ac;
  font-weight: 500;

}




